@charset "utf-8";
body,p,dl,dd,ul,ol,li,div,h1,h2,h3,h4,h5,h6,form,input,table,tr,td{
	margin:0;
    padding:0;
}
body{
	font-family: "微软雅黑",Arial;
}
ul,ol{
	list-style:none;
}
li{
    cursor: pointer;
}
img{
	border: 0;
}
a{
	text-decoration: none;
}
// 锚点连接列表
.anchor_point{
    width: 90px;
    position: fixed;
    top:193px;
    right: -70px;
    display: block;
}
.anchor_point li{
    padding:10px 0px 10px 12px;
    text-align: center;
}
.anchor_point li span{
    width: 2px;
    height: 0px;
    float: right;
    background: #990000;
}
.anchor_point li a{
    display: block;

}
.anchor_point li{
    font-size: 12px;
    color: #777777;
}
.anchor_point li:hover{
    color: #000000;
}
/* 悬挂条 */
.bar_href{
    position: fixed;
    right: 6px;
    top: 500px;
    z-index: 500;
    background: rgba(254,254,255,0.9);
    border-radius: 5px;
    padding-top: 5px;
}
.bar_content{
    widows: 38px;
    text-align: center;
}
.bar_content a{
    width: 38px;
    height: 41px;
    display: block;
}
#anchor{
    display: none;
}
.bar_content a span{
    font-size: 26px;
    color: #000000;
}
/* header */
.header{
    width: 100%;
    height: 36px;
    background: #f9f9f9;
}
.header_content{
    margin: 0 auto;
    width: 1203px;
    height: 36px;
}
.header_content a{
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    color: #a4a4a4;
    line-height: 36px;
    /* border-right:1px solid #f2f2f2;  */
}
.shopp_car{
    display: block;
    float: right;
    width: 90px;
    height: 36px;
    text-align: center;
    background: #f2f2f2;
}
.header_content a:hover{
    color: #cf0a2c;
}
/* 导航左侧 */
.header_left{
    float: left;  
}
.header_list li{
    float: left;
}
/* 划过箭头方向改变 */
.more_splendid .iconfont{
    font-size: 10px;
}
.iconfont_up{
    display: inline;
}
.iconfont_down{
    display: none;
}
.more_splendid:hover .iconfont_up{
    display:none;
}
.more_splendid:hover .iconfont_down{
    display:inline;
}
/* 二级导航 */
.more_splendid_par{
    position: relative;
}
.more_splendid_par:hover{
    background: #fff;
}
.more_splendid_par:hover .more_splendid_hide{
    display: block;
}
.more_splendid_hide{
    display: none;
    position: absolute;
    top: 36px;
    right: 0; 
    background: #fff;  
    z-index: 5; 
    border-radius: 6px;   
}

.more_splendid_ul{
    overflow: hidden;
}
.more_splendid_ul li{
    clear: both;
    text-align: center;
    margin:0 auto;
}
.more_splendid_ul_more li{
    width: 120px;
}
.more_splendid_ul li a{
    color: #777777;
    font-size: 12px;
    line-height: 32px;
}
.more_splendid_ser li{
    clear: both;
    text-align: center;
    width: 81px;
}
.more_splendid_nav{
    width:873px;
    padding: 20px 0;
    overflow: hidden;
}
.more_splendid_index{
    width: 52px;
    margin:10px 47px 0;
    float: left;
}
.more_splendid_icon{
    width: 50px;
    height: 50px;
    background: #f3f3f3;
    font-size: 26px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    float: left;
}
.more_splendid_index p{
    font-size: 12px;
    color: #777777;
    line-break: 24px;
}
.more_splendid_index_ul{
    width: 160px;
    overflow: hidden;
    padding-right:20px;
    float: left;
}
.more_splendid_index_ul dl dt{
    padding-bottom: 5px;
    font-weight: 600;
    padding-bottom: 5px;
}
.more_splendid_index_ul dl dd{
    float: left;
    padding-bottom: 5px;
    text-align: left;
    width: 80px;
    height: 20px;
}
.more_splendid_index_ul dl dd a{
    padding:0;
    line-height:20px; 
    color: #999999;
}
.more_splendid_index_ul li a{
    color: #777777;
    font-size: 12px;
    padding:0;
    line-height: 24px;
}
.huawei_app{
    width: 212px;
    padding:10px 10px 0;
    border-bottom: 1px solid  #d3d3d3;
}
.huawei_app_img{
    float: left;
}
.huawei_app_img img{
    width: 90px;
    height: 90px;
}
.huawei_app_info{
    padding-left: 10px;
    float:left;
}
.huawei_app_info h5{
    text-align: left;
    padding-bottom:5px;
}
.huawei_app_info p:nth-child(1){
    color:#990000;
    line-height: 18px;
    font-size: 12px;
}
.huawei_app_info p{
    text-align: left;
    color:#777777;
    line-height: 18px;
    font-size: 12px;
}
.shopping_car{
    width: 460px;
    margin:50px 0;
}
.shopping_car_img{
    width: 90px;
    height: 90px;
    border-radius: 50px;
    background: #ededed;
    margin: auto;
}
.shopping_car_img_icon{
    line-height: 90px;
    font-size: 58px!important;
    color: #a6a6a6;
}
.shopping_car p{
    color:#777777;
    font-size: 16px;
    line-height: 40px;
}
/* 导航右侧 */
.header_right{
    float: right;
}
/* nav */
.nav{
    background: #ffffff;
    height:74px;
    width: 100%;
}
.nav_content{
    width: 1203px;
    height: 74px;
    margin: 0 auto;
}
.nav_logo{
    float: left;
}
.nav_logo img{
    vertical-align: middle;
    margin-right: 12px;
    width: 205px;
    height: 36px;
    padding-top: 18px;
}
.nav_left{
    float: left; 
}
.nav_left a{ 
    font-size: 16px;
    color: #333333;
    line-height: 74px;
    margin-right: 24px;
}
.nav_left .huawei_pre{
    margin-left: 25px;
    background: #ff8486;
    color: #ffffff;
    padding:0 6px;
    display: inline-block;
    line-height: 24px;
    border-radius: 15px;
}
.nav_left .rongyao_pre{
    background: #74c7ff;
    color: #ffffff;
    padding:0 6px;
    display: inline-block;
    line-height: 24px;
    border-radius: 15px;
}
.nav_left a:hover{
    color: #cf0a2c;
}

.nav_left a:last-child{
    padding-right: 0;
}
.nav_search{
    padding-top:23px;
    float: right;
    position: relative;
}
#placeholder_input{
    position: absolute;
    right:45px;
    top:27px;
}
#placeholder_input span{
    color:#a6a6a6;
    font-size: 12px;
    padding-left: 10px;
}
.btn_search{
    position: absolute;
    top:29px;
    font-size: 18px;
    right:17px;
    font-weight: 900px;
    cursor: pointer;
    color:#777777;
}
#search{
    width: 272px;
    height: 30px;
    border: none;
    background: #f0f0f0;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px; 
    outline: none;
    float: left;
    text-indent: 10px;
}
#btn01{
    width: 46px;
    height: 30px;
    border: none;
    background: #f0f0f0;
    border-top-right-radius: 15px;
    border-bottom-right-radius:15px; 
    outline: none;
    float: left;
    cursor: pointer;
}